@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


.about-page {
  position: relative;
  padding: 60px;
  min-height: 100vh;
  color: white;

}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: -1;
}

.about-content {
  max-width: 900px;
  margin: 40px auto 0;
  backdrop-filter: blur(18px);
  background: rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 16px;
  
}

.about-title {
  font-size: 42px;
  margin-bottom: 20px;
  font-family: "Lexend", sans-serif;
  text-align: center;
}

.about-text {
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  font-weight: 190;
  line-height: 1.7;
  margin-bottom: 20px;
  opacity: 0.9;
}




@media (max-width: 992px) {

  .about-page {
    padding: 45px;
  }

  .about-content {
    max-width: 750px;
    padding: 32px;
  }

  .about-title {
    font-size: 34px;
  }

  .about-text {
    font-size: 16px;
  }
}



@media (max-width: 756px) {

  .about-page {
    padding: 20px;
  }

  .about-content {
    max-width: 100%;
    padding: 18px;
    margin-top: 56px;
  }

  .about-title {
    font-size: 26px;
  }

  .about-text {
    font-size: 14px;
  }
}