.site-footer {
  background: rgba(2, 23, 28, 0.25);
  backdrop-filter: blur(6px);
  padding: 20px 0;
  margin-top: 60px;
  display: flex;
  justify-content: center; 
  align-items: center;  
  text-align: center;
}

.footer-copy {
  color: #bfc7d5;
  font-size: 13px;
  font-family: "Lexend", sans-serif;
}


/* resp */


@media (max-width: 992px) {
  .site-footer {
    padding: 15px 0;
  }

  .footer-copy {
    font-size: 12px;
  }
}


@media (max-width: 576px) {
  .site-footer {
    padding: 10px 0;
  }

  .footer-copy {
    font-size: 11px;
  }
}