@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

/* NAVBAR */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
  background: rgba(2, 23, 28, 0.25);
  backdrop-filter: blur(6px);
  z-index: 5000 !important;
}

.container {
  width: 92%;
  max-width: 1150px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.brand {
  font-family: "Momo Signature", cursive;
  font-size: 22px;
  font-weight: 800;
  color: white;
 
}

.brand .events {
  color: #536886;
}

.main-nav {
  display: flex;
  gap: 18px;
  align-items: center;
 
}

.nav-item {
  color: white;
  padding: 8px 12px;
  border-radius: 25px;
  transition: 0.3s;
  font-weight: 700;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  text-decoration: none;
  
}

.nav-item:hover {
  background: white;
  color: #071718;
}

.btn-register {
  background: #536886;
  padding: 9px 14px;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

.btn-register:hover {
  background: white;
  color: black;
 
}


.btn-log{
  color: #0765bd;
  border: solid 2px #0765bd;
}
.btn-log:hover{
  background-color: #0765bd;
  color: white;
}



@media (max-width: 992px) {

  .brand {
    font-size: 22px;
  }

  .main-nav {
    gap: 12px;
  }

  .nav-item {
    padding: 7px 10px;
    font-size: 14px;
  }

  .btn-register {
    padding: 7px 12px;
    font-size: 14px;
  }
}



@media (max-width: 756px) {

  .brand {
    font-size: 18px;
  }

  .main-nav {
    gap: 6px;
  }

  .nav-item {
    padding: 5px 7px;
    font-size: 12px;
  }

  .btn-register {
    padding: 5px 9px;
    font-size: 12px;
  }
}